<%= stylesheet_link_tag'index.css'%>
<div class="container">
<h1>All Posts</h1>
<p>This blog has <%= Post.public_count %> posts </p>
<div class="box">
  <ul>

<% @posts.each do |post|%>
<% unless post.archived?%>
  <h3><%= link_to post.title, post %></h3>
<%end%>
<% end %>
</ul>
</div><br>
<p><%= link_to 'Create Posts', "posts/new",class:"btn btn-success" %></p>
</div>
